<% if logged_in? %>
  <p>
    Feeling hungry <%= %>?
  </p>
  <%= render 'shared/post_form' %>
<% else %>
  <p>
    To begin you should
    <%= link_to "Register", signup_path %>
    or
    <%= link_to "Log in", login_path %>.
<% end %>

<hr>

<% @all_posts.each_with_index do |p, i = 1| %>
  <%= p.inspect %>
  <span style="color: red"><%= i %></span>
<% end %>
