<% if logged_in? %>
  <p>
    Feeling hungry <%= %>?
  </p>
  <%= render 'shared/post_form' %>
<% else %>
  <p>
    To begin you should
    <%= link_to "Register", signup_path %>
    or
    <%= link_to "Log in", login_path %>.
<% end %>

<hr>

<% @all_posts.each do |p, a = 0| %>
  <% a += 1 %>
  <%= p.inspect %>
  <span style="color: red"><%= a %></span>
<% end %>
