<div style="border: 1px solid #000; max-width: 400px;">
Post ID: <%= post.id %> <br>
Post user: <%= link_to post.user.name, post.user %>
  <div class="post" style="color: #666; padding: 10px; margin: 5px; border: 1px solid #aaa">
    <i>
      <%= post.content %>
    </i>
  </div>
Posted <%= time_ago_in_words(post.created_at) %> ago.
<% if current_user?(post.user) %>
  <%= link_to "delete", post, method: :delete, data: { confirm: "Really?" } %>
<% end %>
</div>
<br>
