<header style="background: #000; color: #fff; padding: 5px">
  <%= link_to "Root", root_url %>
<% if logged_in? %>
  Logged as: <%= link_to current_user.name, current_user %>
  <%= link_to "Logout", logout_path, method: :delete %>
  <%= link_to "Edit", edit_user_path(current_user) %>
<% else %>
  <%= link_to "Signup", signup_path %>
  <%= link_to "Login", login_path %>
<% end %>
<nav>

</nav>
</header>
